body{
  background-color: #D9F7FF;
}
/* Hide scrollbar for Chrome, Safari and Opera and still being able to scroll */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /*IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.Heading{
  position: fixed;
  top:0;
  width:100%;
  background-color: #6E3CBC;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 15px;
  padding-left: 28px;
}
.SubmitBtn{
  margin: 20px;
}
.Body{
  text-align: center;
}
.form{
  margin-top: 100px;
  margin-bottom: 30px;
}
input[type=text] {
  width: 40%;
  box-sizing: border-box;
  border: 0px;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  color: #98BAE7;
  background-color: white;
  padding: 6px;
}
input[type=text]:focus{   /* When input box is clicked.. by default it shows black border..so to change style after click on input "focus" is used... */
  outline: 0px;          /* whatever style written inside this will work when we select our input type */
}
::placeholder {   /* these are to change placeholder style in diff browsers */
  color: #98BAE7;
  text-align: center;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #98BAE7;
  text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #98BAE7;
  text-align: center;
}
input[type=submit]{
  background-color: #7267CB;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 6px 25px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.midHeading{
  color: #6E3CBC;
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .Heading{
    font-size:1.2rem;
    text-align: center;
  }
  .midHeading{
    font-size:1rem;
  }
  input[type=submit]{
    padding: 4px 20px;
    font-size: 0.7rem;
  }
  input[type=text] {
    font-size: 0.7rem;
    padding: 4px 6px;
  }
}